*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #1E6BA2;

}

h1{
    text-align: left;
    background-color: white;
    color: black;
    padding: 20px;
    font-size: small;


}
.alinear-izquierda{
    float: left;
    max-width: 250px;
    max-height: 150px;
    }

.navegacion ul{
    background-color: #f2dea7;
    width: 100%;
    list-style-type: none;
    text-align: center;

}

.menu > li{
    display: inline-block;
    position: relative;
}
.menu > li > a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    width:150px;

}
.menu li a:hover{
    background-color: #fff5db;
}
.submenu{
    position: absolute;
    display: block;
    text-decoration: none;
    background: #333333;
    width: 120%;
    display: none;

}
.submenu li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: black;
    font-family: 'Open sans';
}


.menu li:hover .submenu{
    display:block;
}



.contenido {
    display: flex;
    margin: 60px;
}

.articulos {
    width: 80%;
    border-right: 3px solid black;
}
.secciones {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 40px;
    margin-top: 20px;

}

.menu-secundario {
    width: 20%;
    margin-top: 60px;

}
.menu-secundario a {
    display:block;
    text-align: center;
    color: black;
    margin-bottom: 20px;

}
.menu-secundario {
    background-color: #f2dea7;
    display:block;
    text-align: center;
    color: black;
    margin-top: 0%;

}
.imagen1 > img{
    width: 1000px;
    height: 800px;

}
.profile > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.timeline {
    margin-left: 70px ;
}
footer {
    width: 100%;
    height: 150px;
    background-color: #68757B;
    color: white;
    margin-top: 40px;
}
footer p {
    text-align: center;
    padding: 50px;
}